button {
  display: block;
}

section {
  margin: 3em 0;
}

.campaign-section {
  display: flex;
  height: 3em;
  align-items: center;
}

.main-input {
  width: 75%;
}

select, 
input {
  width: 10em;
}
